
body {
  margin: 0 auto;
  padding: 0;
  background-color: #e3e3e3;
  max-width: 1400px;
  font-family: 'Roboto', sans-serif;
}

/*overlay screen for all titles to sit in front of*/

.winOverlay {
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(234, 21, 56, .6);
    z-index: 1; /* Giving stack order*/
}

/*player 1 winning title*/

.winner1text {
  text-align: center;
  color: yellow;
  font-size: 120px;
  width: 100%;
  padding: 253px 0;
  margin: auto;
  display: none;
}

/*player 2 winning title*/

.winner2text {
  text-align: center;
  color: yellow;
  font-size: 120px;
  width: 100%;
  padding: 253px 0;
  margin: auto;
  display: none;
}

/*draw title*/

.drawtext {
  text-align: center;
  color: yellow;
  font-size: 120px;
  width: 100%;
  padding: 338px 0;
  margin: auto;
  display: none;
}

/*reset button styling*/

.resetButton {
  border: 5px solid white;
  background-color: black;
  color: white;
  font-weight: 400;
  font-size: 18px;
  padding: 20px;
  width: 140px;
  text-align: center;
  position: fixed;
  margin-top: 533px;
  margin-left: 46%;
  z-index: 2;
  display: none;
}

/*pizza icon to display on winners screen if pizza player wins*/

#resultPizza {
  font-size: 30px;
  color: white;
  font-weight: 700;
  padding: 20px;
  width: 220px;
  text-align: center;
  position: fixed;
  margin-top: -277px;
  margin-left: 48%;
  display: none;
  z-index: 2;
}

/*face icon to display on winners screen if face player wins*/

#resultFace {
  font-size: 30px;
  color: white;
  font-weight: 700;
  padding: 20px;
  width: 220px;
  text-align: center;
  position: fixed;
  margin-top: -277px;
  margin-left: 48%;
  display: none;
  z-index: 2;
}

/*gameboard container holding square divs*/

.container {
  max-width: 650px;
  padding-top: 100px;
  display: inline-block;
  margin: auto 0;
}

/*styling for all squares on gameboard*/

.box {
  display: inline-block;
  vertical-align: top;
  width: 200px;
  height: 200px;
  background-color: #1863ec;
  border: 4px solid black;
}

/*container holding 'pick player' buttons and game title*/

.buttonContainer {
  margin: 80px;
  margin-left: 80px;
  display: inline-block;
}

/*pick player buttons styling*/

.playerButton {
  width: 200px;  //had to make these the same size as the squares for my icons to be centred
  height: 200px;
  border-radius: 200px;
  display: inline-block;
  margin-left: 20px;
  background-color: #46f546;
}

/*positioning and size of icons in pick player buttons*/

.zmdi-hc-5x {
    position: relative;
    margin: 47px;
    font-size: 6em;
}

/*individual padding for face icon in pick player button*/

.zmdi-face {
  padding-left: 9px;
}

/*individual padding for pizza icon in pick player button*/

.zmdi-pizza {
  padding-left: 14px;
}

/*pick player heading styling*/

.playerHeading {
  font-weight: 300;
  margin: 29px;
  padding-left: 22px;
}

/*game heading styling*/

.gameHeading {
  font-weight: 700;
  font-size: 88px;
  padding-left: 50px;
  margin: 0;
}
